html
{
    background:#F6F6F6;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    
}

/***************/
header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
header nav
{
    justify-content: space-between;
}
header ul
{
    display: inline-flex;      
}
header li
{
    list-style-type:none;
}
header a
{
    margin-right: 40px;
    color: #4F5665;
    text-decoration-line: none;
}
header a:hover
{
    text-decoration-line:underline
}
.GetBack
{
    line-height: 40px;
    border: 3px solid #F53838;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 7px 15px;
    background-color: white;
}
.GetBack:hover
{
    text-decoration-line: none;
}

/***************/
form
{
    margin: 3% auto;
    width: 760px;
    padding: 1em;
    border: 1px solid #AFB5C0;
    border-radius: 1em;
}
ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
}
form li 
{
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}
fieldset
{
    margin-top: 7px;
}

input
{
    margin: 0 5px;
    margin-right: 1 5px;
    border-radius: 5px;

}
input:hover
{
    box-shadow:0 0 4px rgba(0,0,0,0.5);
}
input:focus
{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

form button
{
    margin: 1%;
    padding: 1%;
    border-radius: 5px;
}
.Submit
{
    background-color:darkseagreen;
    cursor: pointer;
}
.Submit:hover
{
    background-color:darkseagreen;
    cursor: pointer;
    border-color:seagreen;
    outline: 0;
    box-shadow: 0 0 0 0.1rem seagreen;
}
.Reset
{
    background-color:darksalmon;
    cursor: pointer;
}
.Reset:hover
{
    background-color:darksalmon;
    cursor: pointer;
    border-color:maroon;
    outline: 0;
    box-shadow: 0 0 0 0.1rem maroon;
}

/***************/
footer
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 20%;
}
footer ul a
{
    text-decoration: none;
}
.pLaslesVPN
{
    width: 55%;
    font-weight: 500;
    line-height: 30px;    
    color: #4F5665;
}
.media-links
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.media-links li
{ 
  float: left;
  text-align: center;
}
.p2020
{   
    width: 130px;
    text-align: center;
    color: #AFB5C0;
}
.foott
{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20%;
}
.foott div
{
    margin-left: 100px;
}
.foott ul
{
    list-style: none;
    line-height: 40px;
    padding-left: 0;
    
}
.foott li:hover
{
    text-decoration-line: underline;
}
.foott a
{
    color: #000000;
}