:root
{
  --btn-text-color: #FFFFFF;
  --btn-color-bg: #F53838;
}
html
{
    background:#F6F6F6;;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
/***************/
header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
header nav
{
    justify-content: space-between;
}
header ul
{
    display: inline-flex;      
}
header li
{
    list-style-type:none;
}
header a
{
    margin-right: 40px;
    color: #4F5665;
    text-decoration-line: none;
}
header a:hover
{
    text-decoration-line:underline
}
header button
{  
   font-weight: 700;
   line-height: 19px;
   background: none;
   color: #F53855;
   width: 150px;
   height: 45px;    
   border: 1px solid #F53855;
   box-sizing: border-box;
   border-radius: 50px
}
header button:hover
{
    text-decoration: underline;
    color:orange;
}
/***************/
.Get_started_banner
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-right: 6%;
    margin-left: 5%;
    margin-bottom: 100px;
}
.Get_started_banner h1
{  
    width: 80%;
    font-weight: 500;
    font-size: 50px;  
    line-height: 80px;  
    color: #0B132A;
}
.Get_started_banner p
{
    width: 80%;
    height: 60px;
    line-height: 30px;    
    color: #13171f;
}
.Get_started_banner button
{    
    width: 250px;
    height: 60px;  
    margin-top: 1%;
    font-weight: bold;    
    border-radius: 10px; 
    line-height: 25px;
    border-color: rgb(255, 0, 0);
    color: var(--btn-text-color);
    background: var(--btn-color-bg);
}
.Get_started_banner button:hover
{
  color:maroon;
}
/***************/
.advantages
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
    height: 150px;
    padding: 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.advantages_card
{
    display: flex;
    flex-direction: row;
    align-items: center;   
}
/******************/
.advantages_by_points
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 15%;
    margin-right: 3%;
    margin-bottom: 100px;
}
.advantages_by_points h2
{ 
    width: 65%;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;    
    color: #0B132A; 
}
.advantages_by_points p
{
    width: 75%;
    line-height: 25px;
    color: #4F5665;
}
.advantages_by_points ul
{
    list-style-image: url(/Картинки/O1.svg);  
    display: flex;
    flex-direction: column;
}
.advantages_by_points li
{
padding-bottom: 15px;
margin-top: 15px;
}   
/************/
.subscribe_plans h2
{
    display: flex;
    flex-direction: column;
    align-items: center;   
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}
.subscribe_plans p
{   
    align-items: center;
    flex-direction: column;    
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}
.subscribe_plans_cards
{
    display: flex;
    justify-content:space-evenly;
    margin: 50px 100px 50px 100px;
    border-radius: 50px;
}
.subscribe_plans_card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 80px 45px 60px;
    width: 350px;    
}
.subscribe_plans_card:hover
{
    border: 2px solid red;
}
.subscribe_plans_card ul
{
    list-style-image: url(/Картинки/Ok.svg);
}
.subscribe_plans_card li
{
    padding-bottom: 30px;
}
.plan_title
{ 
    font-weight: 700;
    font-size: 18px;
    line-height: 30px; 
    text-align: center;
    color: #0B132A; 
}
.plan_price
{ 
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;    
    text-align: center;    
    color: #0B132A;
}
.Select_button
{
    font-weight: bold;
    line-height: 40px;
    text-decoration-line: none;
    text-align: center;
    text-decoration-line: none;

    color: #F53838;
    
    width: 177.88px;
    height: 45px;
    border: 2px solid #F53838;
    box-sizing: border-box;
    border-radius: 50px;
}
.Select_button:hover
{
    text-decoration-line: underline;
    color:orange;
}
/*************************/
.map_n_partners
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.map_n_partners h2
{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A
}
.map_n_partners p
{
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: center;
    color: #4F5665;
    
}
.Sponsors
{
    display: inline-flex;
    align-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}
/********************/
.customers_feedback
{
    margin-bottom: 100px;
}
.customers_feedback h2
{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #1c2a0b;
}
.customers_feedback p
{
    text-align: center;
    color: #4F5665;
    margin-bottom: 30px;
}
.Comments
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Client_card
{
    display: flex;
    flex-direction: column;
    width: 400px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
}
.Client_card:hover
{
    border: 2px solid rgb(49, 99, 165); 
}
.client_avatar
{
    position: relative;
    width: 180px;
    height: 50px;
    left: 30px;
    top: 25px;
}
.Mark
{
    position: relative;
    width: 24px;
    left: 270px;
    right: 30px;
    top: -25px;
   
    color: #0B132A;
    
}
.star
{
    position: relative;
    width: 16px;
    height: 16px;
    left: 300px;
    top: -73px; 
}
.client_text
{
    position: relative;
    width: 340px;
    height: 100px;
    left: 10px;
    top: -20px;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    
    color: #0B132A;
}

.Scroll
{
   width: 135px; 
   height: 15px;
   margin-left: 7%;
   margin-top: 50px;
}

.BLeft
{
    background-image: url("Картинки/left.png");
    width: 60px;
    height: 60px;
    float: right;
    margin: 25px 150px;

    border-radius: 50%;
    border: 2px solid rgb(245, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    background-repeat: no-repeat;
}

.BRight
{
    background-image: url("Картинки/right.png");
    width: 60px;
    height: 60px;
    float: right;
    margin:  25px -290px;


    background-color: rgb(245, 56, 56);
    border: 2px solid rgb(245, 56, 56);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-repeat: no-repeat;

}

/*Сабскрайб*/
.Sub1
{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px;
}
.Sub1 p
{
    width: 370px;
    height: 80px;

    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    
    color: #000000;
}

.Sub1 a
{
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(245, 56, 56);
    width: 250px;
    height: 30px;

    cursor: pointer;
    
    text-align: center;
    color: rgb(255, 255, 255);

    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    text-decoration: none;
}

.Sub:hover
{
   color:maroon
}

/*****************/
footer
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20%;
}
footer ul a
{
    text-decoration: none;
}
.pLaslesVPN
{
    width: 55%;
    font-weight: 500;
    line-height: 30px;    
    color: #4F5665;
}
.media-links
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.media-links li
{ 
  float: left;
  text-align: center;
}
.p2020
{   
    width: 130px;
    text-align: center;
    color: #AFB5C0;
}
.foott
{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20%;
}
.foott div
{
    margin-left: 100px;
}
.foott ul
{

    list-style: none;
    line-height: 40px;
    padding-left: 0;
    
}
.foot li
{
    text-decoration-color: #000000;
}
.foott li:hover
{
    text-decoration-line: underline;
    color: #0B132A;
}

