:root
{
  --btn-text-color: #FFFFFF;
  --btn-color-bg: #F53838;
}

body
{
    background:#F6F6F6;;
}

.Logo
{

width: 1050px;
height: 36.23px;
left: 150px;
top: 47px;
}

.Navaigator
{

width: 46px;
height: 19px;
left: 400px;
top: 44px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
}

ul.Begin {
    display: flex;
  }
  .Begin li {
    font-size: 16px ;
    list-style: none;
  }
  
  .Begin li a {
    text-decoration: none;
    margin: 29px;
    color: #4F5665;
  }

.navli
{
    list-style-type:none;
}

.nav-link
{
    color: #4F5665;
    text-decoration-line: none;
}

.nav-link:hover
{
    text-decoration-line:underline
}

.signin
{
    
width: 53px;
height: 19px;
left: 1057px;
top: 58.62px;

font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;  
}

.signlink
{
    text-decoration-line: none;
    color: #0B132A;  
}

.signlink:hover
{
    text-decoration-line:underline;
}


.signbut
{
    
width: 60px;
height: 19px;
left: 1185px;
top: 58.62px;

font-family: Rubik;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;


color: #F53855;


    width: 150px;
    height: 45px;
    left: 1140px;
    top: 45.62px;
    
    border: 1px solid #F53855;
    box-sizing: border-box;
    border-radius: 50px

}

.signbut:hover
{
    text-decoration: underline;
    color:orange;
}

.h1VPN1
{

width: 555px;
height: 140px;
left: 150px;
top: 206.77px;

font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 70px;


color: #0B132A
}

.LaslesVPN1
{
font-family: Rubik;
font-style:normal;
font-weight: 700;
font-size: 50px;
line-height: 70px;
}

.ParVPN
{
    
width: 555px;
height: 60px;
left: 150px;
top: 390.77px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;


color: #4F5665;

}

.LaslesVPN2
{
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
}

.GetStr
{
    
    width: 95px;
    height: 25px;
    left: 227.5px;
    top: 494.27px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: var(--btn-text-color);


width: 250px;
height: 60px;
left: 150px;
top: 476.77px;
    
background: var(--btn-color-bg);
border-radius: 150px;  

}

.GetStr:hover
{
  color:maroon;
}

.PicMan1
{
    
width: 611.24px;
height: 382.44px;
left: 745.76px;
top: 179.11px;

}

.User
{
    
width: 55px;
height: 55px;
left: 241px;
top: 737.05px;

background: #FFECEC;
border-radius: 70px;
}


.p90
{
    
width: 49px;
height: 30px;
left: 332.5px;
top: 732.05px;

font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 30px;


color: #0B132A;
}

.pU
{
    
width: 53px;
height: 30px;
left: 332.5px;
top: 767.05px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;

color: #4F5665;
}

.LocPic
{
    
    width: 55px;
    height: 55px;
    left: 628.5px;
    top: 737.05px;
    
    background: #FFECEC;
    border-radius: 70px;
}

.p30
{
    
    width: 49px;
    height: 30px;
    left: 720px;
    top: 732.05px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    
    color: #0B132A;
}

.pLoc
{
    
    width: 91px;
    height: 30px;
    left: 720px;
    top: 767.05px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    
    color: #4F5665
}

.SerPic
{
    
    width: 55px;
    height: 55px;
    left: 1037px;
    top: 737.05px;
    
    background: #FFECEC;
    border-radius: 70px;
}

.p50
{

    
    width: 49px;
    height: 30px;
    left: 1128.5px;
    top: 732.05px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    
    color: #0B132A;
}

.pSer
{
    
    width: 71px;
    height: 30px;
    left: 1128.5px;
    top: 767.05px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    
    color: #4F5665;
}

.PicMan2
{
    
    width: 508.12px;
    height: 414.71px;
    left: 184.52px;
    top: 960.38px;
}

.h2Use
{
    
    width: 383.41px;
    height: 100px;
    left: 862.12px;
    top: 1014.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    
    
    color: #0B132A;
    
}

.pUse
{
    
    width: 427.88px;
    height: 60px;
    left: 862.12px;
    top: 1134.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    
    
    color: #4F5665;
}

.point1
{
    
    width: 24px;
    height: 24px;
    left: 862.12px;
    top: 1217.55px;
    
}

.point2
{
    
width: 24px;
height: 24px;
left: 862.12px;
top: 1262.55px;
}

.point3
{
    
width: 24px;
height: 24px;
left: 862.12px;
top: 1307.55px;

}

.point4
{
    
    width: 24px;
    height: 24px;
    left: 862.12px;
    top: 1352.55px;  
}

.ch1
{
    
    width: 179px;
    height: 30px;
    left: 896.2px;
    top: 1214.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;

    
    color: #4F5665;
}

.ch2
{
    
width: 163px;
height: 30px;
left: 896.2px;
top: 1245.55px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 30px;

color: #4F5665;

}

.ch3
{
    
    width: 125px;
    height: 30px;
    left: 896.2px;
    top: 1290.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    
    color: #4F5665; 
}

.ch4
{
    
width: 145px;
height: 30px;
left: 896.2px;
top: 1335.55px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 30px;

color: #4F5665;
}

.Plan
{
    
    width: 383.41px;
    height: 50px;
    left: 528.3px;
    top: 1586.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    
    text-align: center;
    
    color: #0B132A;
    
}

.pCh
{
    
width: 555px;
height: 60px;
left: 442.5px;
top: 1656.55px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;

text-align: center;

color: #4F5665;
}

.FreePic1
{
    
    width: 144.9px;
    height: 165.37px;
    left: 267.55px;
    top: 1856.18px;
    
}

.FreePic2
{
    
    width: 144.9px;
    height: 165.37px;
    left: 647.55px;
    top: 1856.18px;
    
}

.FreePic3
{
    
    width: 144.9px;
    height: 165.37px;
    left: 1027.55px;
    top: 1856.18px;
}

.FreeGroup
{
    
    width: 190.26px;
    height: 150px;
    left: 244.87px;
    top: 2111.55px;
    
}

.StandardGroup
{
    
    width: 190.54px;
    height: 190px;
    left: 624.73px;
    top: 2111.55px;
    
}

.PremiumGroup
{

    
    width: 190.54px;
    height: 230px;
    left: 1004.73px;
    top: 2111.55px;
    
}

.pFP
{
    
    width: 82px;
    height: 30px;
    left: 299px;
    top: 2051.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    
    text-align: center;
    
    
    color: #0B132A;
    
}

.pF
{
    
    width: 54px;
    height: 30px;
    left: 313px;
    top: 2391.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    
    
    text-align: center;
    
    color: #0B132A;
}

.SelectF
{

width: 52px;
height: 19px;
left: 314px;
top: 2454.55px;

font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 40px;
text-decoration-line: none;
text-align: center;
text-decoration-line: none;

color: #F53838;
    
    width: 177.88px;
    height: 45px;
    left: 251.06px;
    top: 2441.55px;
    
    border: 2px solid #F53838;
    box-sizing: border-box;
    border-radius: 50px;

}

.SelectF:hover
{
text-decoration-line: underline;
color:orange;
}

.pSP
{
    
    width: 123px;
    height: 30px;
    left: 658.5px;
    top: 2051.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    
    text-align: center;
    
    color: #0B132A;
}

.p9
{
    
    width: 92px;
    height: 30px;
    left: 674px;
    top: 2391.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    
    color: #0B132A;
}


.SelectS
{
    vertical-align: middle;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    text-decoration-line: none;
    
    color: #F53838;

    
width: 177.88px;
height: 45px;
left: 631.06px;
top: 2441.55px;

border: 2px solid #F53838;
box-sizing: border-box;
border-radius: 50px;
}

.SelectS:hover
{
text-decoration-line: underline;
color:orange;
}

.pPP
{
    
    width: 121px;
    height: 30px;
    left: 1039.5px;
    top: 2051.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    
    text-align: center;     
}

.p12
{
    
    width: 104px;
    height: 30px;
    left: 1048px;
    top: 2391.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    
    text-align: center;
    
    color: #0B132A;
}

.SelectP
{
    
    width: 52px;
    height: 19px;
    left: 1074px;
    top: 2454.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 43px;
   text-align:center;
   text-decoration-line: none;
    
    
    color: #FFFFFF;

    

width: 177.88px;
height: 45px;
left: 1011.06px;
top: 2441.55px;

background: #F53838;
border-radius: 50px;
}

.SelectP:hover
{
text-decoration-line: underline;
color:maroon;
}

.h2HGN
{
    
    width: 383.41px;
    height: 100px;
    left: 528.3px;
    top: 2686.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
   
    text-align: center;
    
    color: #0B132A
}

.pHGN
{
    
    width: 555px;
    height: 60px;
    left: 442.5px;
    top: 2806.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    
    text-align: center;
    
    color: #4F5665;
    
}
.pHGNVPN
{
    
    font-family: Rubik;
    font-style: normal;
    font-weight:bold;
    font-size: 16px;
    line-height: 30px;
    
    text-align: center;
    
    color: #4F5665;
}

.HugeGlobal
{
    
    width: 1060px;
    height: 537.77px;
    left: 190px;
    top: 3022.36px;
    
}

.netflix
{

width: 200px;
height: 112.5px;
left: 145px;
top: 3643.84px;
}

.reddit
{
    
    width: 190px;
    height: 60px;
    left: 387.5px;
    top: 3670.09px;
}

.amazon
{
    
    width: 277.76px;
    height: 208.32px;
    left: 581.12px;
    top: 3595.93px;
}

.discord
{
    
    width: 187.02px;
    height: 63.59px;
    left: 862.5px;
    top: 3670.09px;
}

.spotify
{
    
    width: 171.28px;
    height: 51.34px;
    left: 1109.36px;
    top: 3674.42px;
    
}

.h2TTHC
{
    
    width: 447.81px;
    height: 100px;
    left: 496.1px;
    top: 3854.25px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    
    text-align: center;
    
    color: #0B132A;
}

.pTTHC
{
    
    width: 555px;
    height: 60px;
    left: 442.5px;
    top: 3974.25px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    
    text-align: center;
    
    color: #4F5665;
}

.PicRamRed
{
    
    width: 400px;
    height: 230px;
    left: 150px;
    top: 4094.25px;
}

.PicViezh
{
    
    width: 182px;
    height: 50px;
    left: 180px;
    top: 4124.25px;
}

.pMark1
{
    
    width: 24px;
    height: 16px;
    left: 470px;
    top: 4141.6px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    
    display: flex;
    align-items: center;
    
    color: #0B132A;
    
}

.star1
{
    
width: 16px;
height: 16px;
left: 504px;
top: 4140.9px;
    
}

.pCom1
{
    
    width: 340px;
    height: 100px;
    left: 180px;
    top: 4194.25px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    
    display: flex;
    align-items: center;
    
    color: #0B132A;
}

.PicRamGray1
{
    
    width: 400px;
    height: 230px;
    left: 600px;
    top: 4094.25px;
    
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
}

.PicYessica
{
    
    width: 212.02px;
    height: 50px;
    left: 630px;
    top: 4124.25px;
    
}

.pCom2
{
    
width: 340px;
height: 100px;
left: 630px;
top: 4182.25px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;


color: #0B132A;
}

.pMark2
{
    
    width: 24px;
    height: 16px;
    left: 920px;
    top: 4141.6px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    
    display: flex;
    align-items: center;
    
    color: #0B132A
}

.star2
{
    
    width: 16px;
    height: 16px;
    left: 954px;
    top: 4140.9px;
}

.PicRamGray2
{
    
    width: 400px;
    height: 230px;
    left: 1050px;
    top: 4094.25px;
    
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
}

.PicKim
{
    
    width: 212.02px;
    height: 50px;
    left: 1080px;
    top: 4124.25px;
}

.pMark3
{
    
    width: 24px;
    height: 16px;
    left: 1370px;
    top: 4141.6px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    
    display: flex;
    align-items: center;
    
    color: #0B132A;
}

.star3
{
    
    width: 16px;
    height: 16px;
    left: 1404px;
    top: 4140.9px;
}

.pCom3
{
    
    width: 340px;
    height: 100px;
    left: 1080px;
    top: 4177.25px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    
    display: flex;
    align-items: center;
    
    color: #0B132A;
}

.Scroll
{
    
width: 135px;
height: 15px;
left: 150px;
top: 4406.75px;
}

.BLeft
{
    
    background-image: url("Картинки/left.png");
    width: 60px;
    height: 60px;
    left: 1150px;
    top: 4380.75px;

    border: 2px;
    border-radius: 60px;
box-sizing: border-box;
    cursor: pointer;
    background-repeat: no-repeat;
}

.BRight
{
    
    background-image: url("Картинки/right.png");
    width: 60px;
    height: 60px;
    left: 1170px;
    top: 4380.75px;

    border: 2px;
    border-radius: 60px;
    box-sizing: border-box;
    cursor: pointer;
    background-repeat: no-repeat;

}

.Subscr
{
    
width: 371.61px;
height: 80px;
left: 220px;
top: 4567.78px;

font-family: Rubik;
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 45px;

display: flex;
align-items: center;

color: #0B132A;
}

.pSub
{
    
width: 410px;
height: 16px;
left: 220px;
top: 4667.78px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;

display: flex;
align-items: center;

color: #4F5665;
}

.Sub
{
    
    width: 120px;
    height: 25px;
    left: 970px;
    top: 4613.28px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    
    color: #FFFFFF;
    text-decoration-line: none;

    
    width: 250px;
    height: 60px;
    left: 970px;
    top: 4613.78px;

    background: #F53838;
    border-radius: 10px;
}

.Sub:hover
{
   text-decoration-line: underline;
   color:maroon
}

.Logo2
{
    
    width: 149px;
    height: 36.23px;
    left: 150px;
    top: 4805.78px;
    
}

.pLaslesVPN
{
    
    width: 340px;
    height: 61.57px;
    left: 150px;
    top: 4862.01px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    
    
    color: #4F5665;
}

.FootLasVPN
{
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}

.facebook
{
    
width: 33.6px;
height: 33.6px;
left: 150px;
top: 4953.58px;
background-image: ("Картинки/Facebook.png");
}

.twitter
{
    
    width: 33.6px;
    height: 33.6px;
    left: 203.6px;
    top: 4953.58px;
    background-image: ("Картинки/Twitter.png");
}

.inst
{
    
    width: 33.6px;
    height: 33.6px;
    left: 257.2px;
    top: 4953.58px;
    background-image: ("Картинки/Instagram.png");
}

.p2020
{
    
width: 132px;
height: 30px;
left: 150px;
top: 5017.18px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;

text-align: center;

color: #AFB5C0;

}

.h3En
{
    
    width: 66px;
    height: 30px;
    left: 920px;
    top: 4808.89px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: none;
    
    color: #0B132A;
}

.h3En:hover
{
text-decoration-line: underline;
color: #0B132A;
}

.Engage
{
    
    width: 123px;
    height: 280px;
    left: 920px;
    top: 4840.89px;
    line-height: 40px;
    
}

.En-link
{
    text-decoration-line: none;
    color: #4F5665;
}

.En-link:hover
{
    text-decoration-line: underline;
    color: #4F5665;
}

.Enli
{
 list-style-type: none;
}

.h3Pr
{
    
    width: 71px;
    height: 30px;
    left: 720px;
    top: 4808.89px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: none;
    
    color: #0B132A;
    
}

.h3Pr:hover
{
    text-decoration-line: underline;
    color: #0B132A;
}

.Product
{
    
    width: 74px;
    height: 280px;
    left: 720px;
    top: 4840.89px;
    line-height: 40px;
}

.Pr-link
{
    text-decoration-line: none;
    color: #4F5665;
}

.Pr-link:hover
{
    text-decoration-line: underline;
    color: #4F5665;
}

.Prli
{
    list-style-type: none;
}

.h3Em
{
    
    width: 102px;
    height: 30px;
    left: 1169px;
    top: 4808.89px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px; 
    text-decoration-line: none;
    
    color: #0B132A;
    
}

.h3Em:hover
{
    text-decoration-line: underline;
    color: #0B132A;
}

.Em
{
    
    width: 121px;
    height: 120px;
    left: 1169px;
    top: 4840.89px;
    line-height: 40px;
    
}

.Em-link
{
    text-decoration-line: none;
    color: #4F5665;
}

.Em-link:hover
{
    text-decoration-line: underline;
    color: #4F5665;
}

.EmLi
{
    list-style-type: none;
}

